/* alla element som heter "body" */

body {
  background-color: rgb(243, 243, 243);
}

/* alla element med klassen "box*/
.box {
  max-width: 600px;
  padding: 30px;
  background-color: white;

  box-shadow: 0 0 5px 0 #888888;
}

.container {
  max-width: 550px;
  justify-content: center;
}

#burgerPic {
  width: full;
}

.button3 {
  border: solid 1px;
  border-radius: 100%;
}

.lm-1 {
  margin-left: 10px;
}

.add-btn-add {
  margin-left: 10px;
  border-radius: 50%;
  border: 0px;
  font-family: "Courier New", Courier, monospace;
  font-size: small;
}

.add-btn-remove {
  height: 50%;
  border-radius: 50%;
  border: 0px;
  font-family: "Courier New", Courier, monospace;
  font-size: small;
}

.add-btn-text {
  color: #212529;
  margin-left: 10px;
  font-family: system-ui, "Segoe UI";
  font-size: 16px;
}
