body {
  background-color: rgb(241, 241, 241);
}
.box {
  border: solid 1px;
  padding: 30px;
  background-color: white;
  box-shadow: 9px 8px 13px 0 grey;
}
.container {
  max-width: 500px;
}

.radioDiv {
  border: dotted 1px;
  width: 150px;
  height: 70px;
  display: inline-block;
}

.radioCont {
  margin-bottom: 100px;
}
